@model BurgerDetailsViewModel

<h1>@Model.Name</h1>
<h4>Price: @Model.Price den</h4>
<h4>Is on promotion: @Model.IsOnPromotion</h4>
<h4>Has fries: @Model.HasFries</h4>
<h4>Is vegeterian: @Model.IsVegeterian</h4>
